@import 'tailwindcss';

/* ========== Light Theme ========== */
/* [data-theme="light"] {
  --background: var(--beige);
  --card: var(--pure-white);
  --text: var(--dark-blue);
  --muted-text: var(--middle-blue);
  --accent: var(--warm-gold);
  --error: var(--soft-coral);
  --border: var(--cool-gray);
}
[data-theme="dark"] {
  --background: var(--dark-blue);
  --card: var(--blue);
  --text: var(--beige);
  --muted-text: var(--light-blue);
  --accent: #E0B020;
  --error: #D56A5F;
  --border: #5A6478;
} */

@theme {
  --font-title: var(--font-title);
  --font-text: var(--font-text);
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(96% 0.007 247.896);
  --color-base-content: oklch(21% 0.006 285.885);

  --color-neutral: oklch(96% 0.001 286.375);
  --color-neutral-content: oklch(21% 0.006 285.885);

  --color-primary: #1D2D44;
  --color-primary-content: #d8dee9;

  --color-accent: #F2A541 ;
  --color-accent-content: #0a0d07;

  --color-success: #a3be8d;
  --color-success-content:#0a0d07 ;
  --color-warning: #ebcb8b;
  --color-warning-content: #130f07;
  --color-error: #bf616a;
  --color-error-content: #0d0304;

  --animate-gradient-border: gradientAnimation 1s ease-in-out infinite;
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}



@layer base {
  strong {
    color: var(--color-accent);
    border-bottom: 1px solid var(--color-accent);
  }
}

@layer components {


  .text:hover {
    cursor:pointer;
    background-color:color-mix(in oklab,var(--color-base-content)10%,transparent);
    --tw-outline-style:none;
    outline-style:none;
    box-shadow:inset 0 1px #00000003,inset 0 -1px #ffffff03
  }
  .btn-primary {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    @apply p-4 rounded-lg self-center transition-all my-6 shadow-md;
  }
  .btn-accent {
    background-color: var(--color-accent);
    color: var(--color-accent-content);
    @apply p-4 rounded-lg self-center transition-all my-6 shadow-md;
  }

  .btn {
    background-color: var(--color-base-200);
    border: 1px solid var(--color-base-300);
    color: var(--color-base-content);
    @apply p-4 rounded-lg self-center transition-all my-6 shadow-md;
  }

  .card-primary {
    background-color: var(--color-base-200);
    border: 1px solid var(--color-base-300);
    color: var(--color-base-content);
    @apply shadow-md transition-all hover:scale-105 hover:bg-primary hover:text-primary-content hover:border-primary cursor-pointer;
  }

  .primary-text-effect {
    color: var(--color-primary);
    @apply transition-all hover:scale-105
  }

  .primary-link-effect {
    color: var(--color-base-content);
    @apply hover:text-primary border-b border-transparent transition-all cursor-pointer hover:border-primary
  }

  .vertical-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prose {
    h2 {
      color: var(--color-primary);
      @apply text-2xl font-title m-2;
    }
    p {
      text-align: justify;
      @apply m-4;
    }
    a {
      color: var(--color-accent);
      @apply transition-all;
      &:hover {
        color: var(--color-accent);
        text-decoration-line: underline;
      }
    }
    ul {
      list-style-type: disc;
      @apply m-4;
      li::marker {
        color: var(--color-primary);
      }
    }
    ol {
      list-style-type: decimal;
      @apply m-4;
      &::marker {
        color: var(--color-primary);
      }
    }
    cite {
      font-style: italic;
    }
    i {
      font-style: italic;
    }
    em {
      font-style: italic;
    }
    strong {
      @apply font-bold;
    }
    img {
      margin: auto;
      max-height: 600px;
      @apply p-4;
    }
  }


}
