@import 'tailwindcss';
@import '../lib/tailwindcss/index.css';

@theme {
  --color-dark: oklch(18.84% 0.0302 265.88);
  --color-primary: oklch(29.47% 0.0474 257.44);
  --color-on-primary: oklch(93.89% 0.0257 94.74);

  --font-title: var(--font-title);
  --font-text: var(--font-text);
}
